export(matchedwake)
export(slidingWake)
export(slideWakeMatch)
S3method(print, matchedwake)
S3method(summary, matchedwake)
S3method(plot, matchedwake)
importFrom("rJava",".jcall",".jcast",".jarray",".jpackage")
importFrom("MASS","glm.nb")
importFrom("cem","cem","att","imbalance")
importFrom("grDevices", "gray.colors")
importFrom("graphics", "axis", "filled.contour", "rect")
importFrom("stats", "as.formula", "lm", "summary.glm", "p.adjust")